# Node modules
node_modules/

# OS files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Yedek dosyalar
*_yedek*.json
*_backup*.json
*.zip

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
.vercel

# Yedek ve yardımcı klasörler
KAYNAK-ARAÇLAR/
web\ sayfası\ kopyası/
admin_hesap.json
